
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Kamp Tablo Örnegi - Kategori</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><buton class="btn btn-success">Güncel</buton></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><buton class="btn btn-success">Güncel</buton></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><buton class="btn btn-success">Güncel</buton></td>


    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Açıklama Bekleniyor</td>
        <td>True</td>
        <td><buton class="btn btn-success">Güncel</buton></td>
    </tr>


</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<buton class="btn btn-danger">Kategori Açıklaması</buton>
